Repository AmitKumarDas/metac, pull requests merged in 2019-10, with the labels that each got.

#22 change the examples/service-per-pod to work with metac
  docs/_guide/troubleshooting.md
  examples/service-per-pod/README.md
  examples/service-per-pod/my-statefulset.yaml
  examples/service-per-pod/operator.yaml
  examples/service-per-pod/test.sh
Labels: examples

#23 add ReadOnly and UpdateAny flags to generic controller
  TODO
  apis/metacontroller/v1alpha1/hooks.go
  apis/metacontroller/v1alpha1/nameselector.go
  apis/metacontroller/v1alpha1/types_generic.go
  apis/metacontroller/v1alpha1/zz_generated.deepcopy.go
  controller/common/common.go
  controller/common/manage_attachments.go
  controller/common/manage_children.go
  controller/composite/rolling_update.go
  controller/generic/controller.go
  dynamic/apply/apply.go
Labels: design, gctl

#24 add integration test for clean un-install use case
  Makefile
  TODO
  apis/metacontroller/v1alpha1/types_generic.go
  apis/metacontroller/v1alpha1/zz_generated.deepcopy.go
  controller/common/common.go
  controller/common/hooks.go
  controller/common/manage_attachments.go
  controller/common/manage_children.go
  controller/generic/controller.go
  controller/generic/options.go
  controller/generic/updatestrategy.go
  docs/_guide/troubleshooting.md
  dynamic/apply/apply.go
  dynamic/discovery/discovery.go
  go.mod
  go.sum
  test/integration/framework/crd.go
  test/integration/framework/fixture.go
  test/integration/framework/helper.go
  test/integration/framework/metacontroller.go
  test/integration/generic/generic_test.go
  test/integration/generic/ns_crd_uninstall_test.go
  third_party/kubernetes/pointer.go
Labels: design, doc, gctl, integration test

#25 refactor examples/status to conform to Metac
  TODO
  examples/service-per-pod/test.sh
  examples/status/README.md
  examples/status/my-noop.yaml
  examples/status/operator.yaml
  examples/status/sync.js
  examples/status/test.sh
Labels: examples

#26 refactor bluegreen example to work using Metac
  examples/bluegreen/README.md
  examples/bluegreen/operator.yaml
  examples/bluegreen/test.sh
  examples/status/test.sh
Labels: examples

#28 [usecase, gctl]: showcase install/un-install of CRD
  Makefile
  TODO
  controller/common/manage_attachments.go
  examples/gctl/install-uninstall-crd/README.md
  examples/gctl/install-uninstall-crd/hooks/finalize-crd.jsonnet
  examples/gctl/install-uninstall-crd/hooks/sync-crd.jsonnet
  examples/gctl/install-uninstall-crd/my-namespace.yaml
  examples/gctl/install-uninstall-crd/operator.yaml
  examples/gctl/install-uninstall-crd/test.sh
  go.mod
  go.sum
  manifests/metacontroller.yaml
  test/integration/framework/fixture.go
  test/integration/framework/helper.go
  test/integration/generic/clean_uninstall_test.go
  test/integration/generic/crd_apply_delete_test.go
  test/integration/generic/generic_test.go
  test/integration/generic/suite_test.go
Labels: examples, gctl, usecase

#29 Make client-go throttling configurable.
  main.go
Labels: contrib, design

#33 [local] add option to run metac from local config
  Dockerfile
  TODO
  config/config.go
  config/config_test.go
  controller/generic/controller.go
  controller/generic/metacontroller.go
  controller/generic/selector.go
  go.mod
  main.go
  server/server.go
  test/integration/framework/main.go
  third_party/kubernetes/pointer.go
  third_party/kubernetes/yaml.go
  third_party/kubernetes/yaml_test.go
Labels: Hacktoberfest, doc, flags, local

#34 add skipReconcile to GenericController hook response
  TODO
  controller/generic/controller.go
  controller/generic/hooks.go
Labels: api, doc, gctl
