Repository AmitKumarDas/metac, pull requests merged in 2020-01, with the labels that each got.

#84 Move delete logs
  controller/common/manage_attachments.go
Labels: chore

#86 feat(patch): add patch support to GenericController
  apis/metacontroller/v1alpha1/types_generic.go
  apis/metacontroller/v1alpha1/zz_generated.deepcopy.go
  controller/common/manage_attachments.go
  controller/common/manage_attachments_test.go
  controller/common/manage_children.go
  controller/common/manage_children_test.go
  controller/generic/controller.go
  controller/generic/updatestrategy.go
  dynamic/apply/apply_test.go
  go.mod
Labels: api, contrib, doc, gctl, golang, unit test

#92 examples(sample-controller): add javascript based sample controller
  examples/sample-controller/js/README.md
  examples/sample-controller/js/foo.yaml
  examples/sample-controller/js/operator.yaml
  examples/sample-controller/js/sync.js
  examples/sample-controller/js/test.sh
Labels: cctl, doc, examples

#93 chore(integration-test): bump kubernetes & etcd versions
  hack/get-kube-binaries.sh
Labels: chore, integration test

#94 chore(dependencies): update kubernetes dependencies to v0.17.0
  go.mod
  go.sum
Labels: build, chore, dependencies, golang

#96 chore(go module): update go dependencies
  examples/sample-controller/js/README.md
  go.mod
Labels: chore, examples, golang
