Repository AmitKumarDas/metac, pull requests merged in 2020-04, with the labels that each got.

#121 chore(examples): add dontpanic controller
  examples/gctl/dont-panic/.gitignore
  examples/gctl/dont-panic/Dockerfile
  examples/gctl/dont-panic/Makefile
  examples/gctl/dont-panic/README.md
  examples/gctl/dont-panic/cmd/main.go
  examples/gctl/dont-panic/config/config.yaml
  examples/gctl/dont-panic/dontpanic-ns.yaml
  examples/gctl/dont-panic/dontpanic-operator.yaml
  examples/gctl/dont-panic/dontpanic-rbac-crd.yaml
  examples/gctl/dont-panic/dontpanic.yaml
  examples/gctl/dont-panic/go.mod
  examples/gctl/dont-panic/go.sum
  examples/gctl/dont-panic/kind-with-registry.sh
  examples/gctl/hello-world/README.md
Labels: config, examples, gctl, inline

#132 chore(loglevel): #82 change loglevel to V5
  dynamic/apply/apply.go
Labels: chore

#122 chore(examples): add hello-python example using CompositeController
  examples/cctl/hello-python/controller.yaml
  examples/cctl/hello-python/crd.yaml
  examples/cctl/hello-python/readme.md
  examples/cctl/hello-python/sync.py
  examples/cctl/hello-python/webhook.yaml
Labels: cctl, examples, python, subresource, webhook

#133 docs(contribution guide): add requirements about commit and PR naming conventions
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: contrib, doc
