Repository AmitKumarDas/metac, pull requests merged in 2020-03, with the labels that each got.

#103 feat(advanced selector): add more selector options to GenericController
  apis/metacontroller/v1alpha1/types.go
  apis/metacontroller/v1alpha1/types_generic.go
  apis/metacontroller/v1alpha1/zz_generated.deepcopy.go
  controller/common/common.go
  controller/common/finalizer/finalizer.go
  controller/common/manage_attachments.go
  controller/common/manage_children.go
  controller/common/selector/evaluator.go
  controller/common/selector/evaluator_test.go
  controller/common/selector/field.go
  controller/common/selector/field_test.go
  controller/common/selector/slice.go
  controller/common/selector/util.go
  controller/common/selector/util_test.go
  controller/composite/controller.go
  controller/decorator/controller.go
  controller/generic/controller.go
  controller/generic/controller_test.go
  controller/generic/metacontroller.go
  controller/generic/metacontroller_test.go
  controller/generic/selector.go
  controller/generic/selector_test.go
  controller/generic/testdata/test_gctl.yaml
  dynamic/discovery/discovery.go
  helm/metac/templates/crds.yaml
  manifests/metacontroller.yaml
  server/server.go
  start/start.go
  test/integration/framework/main.go
  test/integration/framework/metacontroller.go
  third_party/kubernetes/controller.go
Labels: enhancement, gctl, select

#107 feat(advanced selector): add refKey to match attachment against watch
  apis/metacontroller/v1alpha1/selector.go
  controller/common/selector/evaluator.go
  controller/common/selector/reference.go
  controller/common/selector/reference_test.go
  controller/generic/metacontroller.go
Labels: enhancement, gctl, select

#109 chore(semantic-release): #64 - Enable semantic release
  .github/workflows/test-release.yaml
  hack/get-kube-binaries.sh
  release.config.js
Labels: github

#118 chore(examples): add genericcontroller based helloworld controller
  examples/gctl/hello-world/.gitignore
  examples/gctl/hello-world/Dockerfile
  examples/gctl/hello-world/Makefile
  examples/gctl/hello-world/README.md
  examples/gctl/hello-world/cmd/main.go
  examples/gctl/hello-world/config/config.yaml
  examples/gctl/hello-world/go.mod
  examples/gctl/hello-world/go.sum
  examples/gctl/hello-world/helloworld-ns.yaml
  examples/gctl/hello-world/helloworld-operator.yaml
  examples/gctl/hello-world/helloworld-rbac-crd.yaml
  examples/gctl/hello-world/helloworld.yaml
  examples/gctl/hello-world/kind-with-registry.sh
  go.mod
Labels: config, examples, gctl, inline

#119 chore(TODO): remove TODO doc
  TODO
Labels: chore
